<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../assets/css/index.css">
    <link rel="stylesheet" href="../../../../assets/css/index-admin.css">
    <link rel="stylesheet" href="../../../../assets/css/modal.css">
    <link rel="shortcut icon" href="/assets/img/restaurant/logo-el-zarape.png" type="image/x-icon"> 
    <script src="https://kit.fontawesome.com/7348c59eb0.js" crossorigin="anonymous"></script>
    <title>Admin | Combos</title>
</head>
<style>
    table th:first-child,
    table td:first-child {
        display: none;
    }
    #update-combo-id-container {
    display: none;
}
    </style>
<body>
    <div class="min-vh-100 mb-5">
        <header class="d-flex flex-wrap justify-content-around">
            <div class="container-logo d-flex align-items-center justify-content-center"><a href="#"><img class="logo"
                        src="../../../../assets/img/restaurant/logo-el-zarape.png" alt="Logotipo El zarape"></a></div>
            <div class="container-navigation d-flex ">
                <ul class="navegation d-flex align-items-center">
                    <li class="navegation__item"><a class="navegation__link" href="/admin/panel.html"><i class="navegation__icon fa-solid fa-house"></i></a></li>
                    </li>
                    <li class="navegation__item"><a class="navegation__link" href="/pages/login.html"><i
                                class="navegation__icon fa-solid fa-right-from-bracket"></i></a></li>
                    </li>
                </ul>
            </div>
        </header>
        <main class="content container">
            <h1 class="content__element title display-2 text-center">Combos</h1>
            <div class="button-container">
                <div class="content__element container-button container-fluid d-flex justify-content-center">
                    <button class="button-create style-text" data-bs-target="#modal-create" data-bs-toggle="modal">Crear
                        nuevo registro</button>

                    <button class="button-action style-text search-button" data-bs-toggle="modal"
                        onclick="toggleSearchFields()">
                        <i class="fa-solid fa-search"></i> </button>
                </div>
            </div>
            <div class="search-container">
                <div id="search-fields" style="display: none;">
                    <div class="mb-3">
                        <label for="search-name" class="form-label">Nombre del Combo:</label>
                        <input type="text" class="form-control" id="search-name" oninput="searchCombos()">
                    </div>
                    <div class="mb-3">
                        <label for="search-alimentos" class="form-label">Alimentos:</label>
                        <input type="text" class="form-control" id="search-alimentos" oninput="searchCombos()">
                    </div>
                    <div class="mb-3">
                        <label for="search-bebidas" class="form-label">Bebidas:</label>
                        <input type="text" class="form-control" id="search-bebidas" oninput="searchCombos()">
                    </div>
                </div>
            </div>

            <div class="content__element container-fluid">
                <div class="container-table table-responsive">
                    <table class="table table-hover">
                        <thead class="table-head">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Combo</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Alimento</th>
                                <th scope="col">Bebida</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Estatus</th>
                            </tr>
                        </thead>
                        <tbody id="combo-table-body">
                            <!-- filas dinamicas js -->
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="footer-content">
            <p class="footer-title">Restaurante</p>
            <p class="highlight">El Zarape</p>
            <nav class="d-flex flex-wrap footer-nav footer-nav-top">
                <a href="#">Sucursal</a>
                <a href="#">Sobre Nosotros</a>
                <a href="#">Descargar App</a>
            </nav>
            <nav class="footer-nav footer-nav-bottom">
                <a href="#">Información legal</a>
                <span class="separator"></span>
                <a href="#">Política de Privacidad</a>
            </nav>
            <p class="footer-copyright">Copyright ©2024 El Zarape. Diseñado por Deep Code</p>
        </div>
    </footer>

    <!-- Modal CRUD to manage the components -->
    <!--Modal to create new register-->
    <div class="modal fade modal-lg modal-dialog-scrollable" id="modal-create" aria-hidden="true"
        aria-labelledby="modal-create" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h1 class="modal-title fs-5 title" id="exampleModalToggleLabel">Crear Combo</h1>
                </div>
                <div class="modal-body">
                    <form id="create-combo-form">
                        <div class="mb-3">
                            <label for="combo-name" class="col-form-label">Nombre del Combo:</label>
                            <input type="text" class="form-control" id="combo-name" required>
                        </div>
                        <div class="mb-3">
                            <label for="combo-description" class="col-form-label">Descripción:</label>
                            <textarea class="form-control" id="combo-description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="combo-foods-container" class="col-form-label">Selecciona Alimentos:</label>
                            <div id="combo-foods-container" multiple required>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="combo-drinks-container" class="col-form-label">Selecciona Bebidas:</label>
                            <div id="combo-drinks-container" multiple required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="combo-price" class="col-form-label">Precio:</label>
                            <input type="number" step="0.01" min="0" class="form-control" id="combo-price" required>
                        </div>
                        <div class="mb-3">
                            <label for="combo-image" class="col-form-label">Imagen:</label>
                            <input type="file" class="form-control" id="combo-image" accept="image/*" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-evenly flex-wrap-reverse">
                    <button type="button" class="modal-footer__button btn-cancel" data-bs-dismiss="modal"
                        aria-label="Close">Cancelar</button>
                    <button type="button" class="modal-footer__button btn-clean"
                        onclick="resetCreateForm()">Limpiar</button>
                    <button type="button" class="modal-footer__button btn-agree"
                        onclick="mostrarModalConfirmacion()">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal de Vista Previa -->
    <div class="modal fade modal-lg" id="modal-preview" aria-hidden="true" aria-labelledby="modal-preview"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h1 class="modal-title fs-5 title" id="exampleModalToggleLabel">Vista previa</h1>
                </div>
                <div class="modal-body">
                    <div class="container-fluid d-flex flex-wrap justify-content-evenly">
                        <div id="img-preview-create"></div>
                        <div id="data-preview-create"></div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center flex-column">
                    <p>¿Desea realizar la acción?</p>
                    <div class="footer-buttons">
                        <button id="btn-create" class="modal-footer__button btn-agree"
                            onclick="createCombo()">Sí</button>
                        <button id="btn-no" class="modal-footer__button btn-delete">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal to update register-->
    <div class="modal fade modal-lg modal-dialog-scrollable" id="modal-update" aria-hidden="true"
        aria-labelledby="modal-update" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h1 class="modal-title fs-5 title" id="exampleModalToggleLabel">Modificar Combo</h1>
                </div>
                <div class="modal-body">
                    <form id="update-combo-form">
                        <div id="update-combo-id-container"class="mb-3">
                            <label for="update-combo-id" class="col-form-label">#:</label>
                            <input type="text" class="form-control" id="update-combo-id" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="update-combo-name" class="col-form-label">Nombre del Combo:</label>
                            <input type="text" class="form-control" id="update-combo-name" required>
                        </div>
                        <div class="mb-3">
                            <label for="update-combo-description" class="col-form-label">Descripción:</label>
                            <textarea class="form-control" id="update-combo-description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="update-combo-foods-container" class="col-form-label">Selecciona
                                Alimentos:</label>
                            <div id="update-combo-foods-container" multiple required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="update-combo-drinks-container" class="col-form-label">Selecciona
                                Bebidas:</label>
                            <div id="update-combo-drinks-container" multiple required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="update-combo-price" class="col-form-label">Precio:</label>
                            <input type="number" step="0.01" min="0" class="form-control" id="update-combo-price" required>
                        </div>
                        <div class="mb-3">
                            <label for="update-combo-image" class="col-form-label">Imagen del Combo:</label>
                            <input type="file" class="form-control" id="update-combo-image" accept="image/*">
                        </div>
                        <div class="mb-3">
                            <label for="update-combo-status" class="col-form-label">Estatus:</label>
                            <select class="form-select form-select-sm p-2" id="update-combo-status">
                                <option value="0">Selecciona una opcion...</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-evenly flex-wrap-reverse">
                    <button type="button" class="modal-footer__button btn-cancel" data-bs-dismiss="modal"
                        aria-label="Close">Cancelar</button>
                    <button type="button" class="modal-footer__button btn-delete"
                        onclick="llenarVistaPreviaDelete()">Eliminar</button>
                    <button type="button" class="modal-footer__button btn-clean"
                        onclick="resetUpdateForm()">Limpiar</button>
                    <button type="button" class="modal-footer__button btn-modify"
                        onclick="mostrarModalConfirmacionUpdate()">Modificar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal to view preview update-->
    <div class="modal fade modal-lg" id="modal-preview-update" aria-hidden="true" aria-labelledby="modal-preview"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h1 class="modal-title fs-5 title" id="exampleModalToggleLabel">Vista previa</h1>
                </div>
                <div class="modal-body">
                    <div class="container-fuid d-flex flex-wrap justify-content-evenly">
                        <div id="img-preview-update" class="modal-preview-image">
                        </div>
                        <div id="data-preview-update">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center flex-column ">
                    <p>¿Desea realizar la acción?</p>
                    <div class="footer-buttons">
                        <button id="btn-update" class="modal-footer__button btn-agree"
                            data-bs-target="#modal-preview-update" data-bs-toggle="modal"
                            onclick="updateCombo()">Sí</button>
                        <button class="modal-footer__button btn-delete" onclick="regresarAlModalUpdate()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal to view preview delete-->
    <div class="modal fade modal-lg" id="modal-preview-delete" aria-hidden="true" aria-labelledby="modal-preview-delete"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h1 class="modal-title fs-5 title" id="exampleModalToggleLabel">Vista previa</h1>
                </div>
                <div class="modal-body">
                    <div class="container-fluid d-flex flex-wrap justify-content-evenly">
                        <div id="img-preview-delete" class="modal-preview-image">
                        </div>
                        <div id="data-preview-delete">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center flex-column">
                    <p>¿Desea realizar la acción?</p>
                    <div class="footer-buttons">
                        <button id="confirm-delete" class="modal-footer__button btn-agree"
                            onclick="eliminarCombo()">Sí</button>
                        <button class="modal-footer__button btn-delete" onclick="regresarAlModalDelete()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--JS Bootstrap-->
    <script src="../../../../assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../modules/combos/controller/combo.js"></script>

</body>

</html>
