<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../assets/css/index.css">
    <link rel="stylesheet" href="../../../../../assets/css/index-admin.css">
    <link rel="stylesheet" href="../../../../../assets/css/modal.css">
    <script src="https://kit.fontawesome.com/7348c59eb0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="d-flex flex-wrap justify-content-around">
        <div class="container-logo d-flex align-items-center justify-content-center"><a href="#"><img class="logo"
                    src="../../../../assets/img/restaurant/logo-el-zarape.png" alt="Logotipo El zarape"></a></div>
        <div class="container-navigation d-flex ">
            <ul class="navegation d-flex align-items-center">
                <li class="navegation__item"><a class="navegation__link" href="#"><i
                            class="navegation__icon fa-regular fa-user"></i></a></li>
                </li>
                <li class="navegation__item"><a class="navegation__link" href="#"><i
                            class="navegation__icon fa-solid fa-right-from-bracket"></i></a></li>
                </li>
            </ul>
        </div>
    </header>
    <main class="content container">
        <h1 class="content__element title display-2 text-center">Sucursales</h1>
        <div class="content__element container-button container-fluid d-flex justify-content-center">
            <button id="btn-create" class="button-create style-text">Crear nuevo registro</button>
        </div>
        <div class="content__element container-fluid">
            <div class="container-table table-responsive">
                <table class="table table-hover">
                    <thead class="table-head">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">GPS</th>
                            <th scope="col">URL</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Horarios</th>
                            <th scope="col">Estatus</th>
                        </tr>
                    </thead>
                    <tbody id="table-branch">
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- Modal CRUD to manage the components -->
    <!--Modal to create new register-->
    <div class="modal fade modal-lg modal-dialog-scrollable" id="modal-form" aria-hidden="true"
        aria-labelledby="modal-create" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h1 class="modal-title fs-5 title" id="form-title"></h1>
                </div>
                <div class="modal-body">
                    <!--Delete form-create-branch-->
                    <form id="form-branch">
                        <div class="mb-3">
                            <label for="name-branch" class="col-form-label">Nombre de la Sucursal</label>
                            <input type="text" class="form-control" id="name-branch" required>
                        </div>
                        <div class="mb-3">
                            <label for="street-branch" class="col-for">Calle</label>
                            <input type="text" class="form-control" id="street-branch" required>
                        </div>
                        <div class="mb-3">
                            <label for="number-branch" class="col-for">Numero Exterior</label>
                            <input type="text" class="form-control" id="number-branch" required>
                        </div>
                        <div class="mb-3">
                            <label for="neighborhood-branch" class="col-for">Colonia o barrio</label>
                            <input type="text" class="form-control" id="neighborhood-branch" required>
                        </div>
                        <div class="mb-3">
                            <label for="cp-branch" class="col-for">Código postal</label>
                            <input type="text" class="form-control" id="cp-branch" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="state-branch">Estado</label>
                            <select class="form-select form-select-sm p-2 select-categories" id="state-branch"
                                required></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="latitude-branch">Latitud</label>
                            <input type="text" class="form-control" id="latitude-branch" required>
                        </div>
                        <div class="mb-3">
                            <label for="longitude-branch" class="col-form-label">Longitud</label>
                            <input type="text" class="form-control" id="longitude-branch" required>
                        </div>
                        <div class="mb-3">
                            <label for="image-branch" class="col-form-label">Imagen</label>
                            <input type="file" class="form-control" id="image-branch" required accept="image/*">
                            <p id="p-current-image"></p>
                        </div>
                        <div class="mb-3">
                            <label for="url-branch" class="col-form-label">URL</label>
                            <input type="text" class="form-control" id="url-branch" required>
                        </div>
                        <div class="mb-3">
                            <label for="schedules-branch" class="col-form-label">Horarios</label>
                            <input type="text" class="form-control" id="schedules-branch" required>
                        </div>
                        <div id="container-status" class="mb-3">
                            <label for="status-branch" class="col-form-label">Estatus</label>
                            <select class="form-select form-select-sm p-2 select-status" id="status-branch"
                                required></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-evenly flex-wrap-reverse">
                    <button id="btn-cancel" type="button" class="modal-footer__button btn-cancel"
                        data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        <button type="button" id="btn-preview-delete"
                        class="modal-footer__button btn-delete">Eliminar</button>
                    <button type="button" id="btn-clean" class="modal-footer__button btn-clean">Limpiar</button>
                    <button type="button" id="btn-preview-create"
                        class="modal-footer__button btn-agree">Registrar</button>
                    
                    <button type="button" id="btn-preview-update" class="modal-footer__button btn-modify">Modificar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal to view preview-->
    <div class="modal fade modal-lg" id="modal-preview" aria-hidden="true" aria-labelledby="modal-preview"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Vista previa</h1>
                </div>
                <div class="modal-body">
                    <div class="container-fuid d-flex flex-wrap justify-content-evenly">
                        <div id="img-preview">
                        </div>
                        <div id="data-preview">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center flex-column">
                    <p>¿Desea realizar la acción?</p>
                    <div class="footer-buttons">
                        <button id="btn-agree" class="modal-footer__button btn-agree" data-bs-target="#modal-preview"
                            data-bs-toggle="modal">Sí</button>
                        <button class="modal-footer__button btn-delete" data-bs-target="#modal-form"
                            data-bs-toggle="modal">No</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--JS Bootstrap-->
    <script src="../../../../assets/js/bootstrap.min.js"></script>
    <script src="../controller/branch-office.js"></script>
    <!--JS Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>