/*Varaibles de estilos*/
:root {
    --primary-color: #FA4032;
    --secondary-color: #FA812F;
    --primary-bg-color: #FEF3E2;
    --secondary-bg-color: #FAAF08;
}


.link-home i {
    position: absolute;
    top: 80px;
    right: 80px;
    font-size: 24px;
    color: black;
    transition: color .2s
}

.link-home i:hover {
    color: var(--primary-color);
}

.link-home i:active {
    color: black;
}

.container-form {
    width: 75% !important;
}

header {
    display: none;
}

.header__img {
    max-width: 125px;
}

.container-login {
    display: flex;
    height: 100vh;
    background: white;
}

.container-login .left {
    background-color: var(--primary-bg-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-login .left img {
    max-width: 100%;
    height: auto;
}

.container-login .right {
    position: relative;
    padding: 40px;
    width: 50%;
}



.container-login .right h2 {
    color: var(--primary-color);

}

.container-login .btn-login {
    background-color: var(--primary-color);
    border: 0;
    color: #fff;
    /*border-color: var(--primary-color);*/
}


.container-login .btn-login:hover {
    color: var(--primary-color) ;
    background-color: #fff;
    outline: 2px solid var(--primary-color);
    transition: background 0.4s;
}



.container-login .btn-login {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.container-main-login {
    padding: 0;
    margin: 0;
}

button[type="button"] {
    width: 100% !important;
}

.validity-alert {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30px;
    color: white;
}


@media screen and (max-width: 768px) {
    header {
        padding: 20px 0;
        display: block;
    }

    .container-login {
        height: 100%;
    }

    .title-login {
        text-align: center;
    }

    .container-login .left {
        display: none;
    }

    .container-login .right {
        max-height: 450px;
        width: 100%;
        justify-content: flex-start !important;
    }

    .container-form {
        align-items: center !important;
    }

    .container-nav {
        width: 125px !important;
    }

    .nav-element i {
        font-size: 24px;
        color: black;
        transition: color .2s
    }

    .nav-element i:hover {
        color: var(--primary-color);
    }

    .nav-element i:active {
        color: black;
    }

    .link-home i {
        display: none;
    }
}